@font-face {
  font-family: "Lato-Black";
  src: url("../fonts//Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Thin';
  src: url("../fonts/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/Lato-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-SemiBold';
  src: url("../fonts/Lato-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

.header {
  background-image: url("../img/header/servers.png");
  height: 960px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #2d2e2f;
  padding-top: 25px;
}

.navbar-link__logo {}

.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 65px;
}

.navbar__item {
  font-family: Lato, sans-serif;
  font-style: medium;
  font-size: 16pt;
  padding-top: 10px;
  padding-bottom: 25px;
}

.navbar__item_hover:hover {
  border-bottom: solid #ffffff;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 350px;
}

.header-text__title {
  font-family: MyriadPro, sans-serif;
  font-size: 72pt;
  margin-bottom: 35px;
}

.header-text__subtitle {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 32pt;
}

.domain {
  height: 564px;
  margin-bottom: 18px;
}

.domain h3 {
  color: #000000;
  font-family: "Lato Heavy", sans-serif;
  margin-top: 0;
  padding-top: 85px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 23px;
}

.domain p {
  font-family: "Montserrat UltraLight", sans-serif;
  font-size: 16px;
  color: #D9D9D9;
  padding-right: 3px;
  margin-bottom: 47px;
  text-align: center;
}

.domain-choose {
  height: 48px;
  width: 888px;
  border: 1px solid #D9D9D9;
  margin: 0 auto 40px;
}

.world-wide {
  color: #CBCBCB;
  font-size: 15px;
  border-right: 1px solid #D9D9D9;
  padding: 6px 17px;
  text-align: center;
}

.domain__input {
  font-family: "Lato SemiBold", sans-serif;
  width: 700px;
  font-size: 15px;
  padding: 15px 12px;
  border: none;
}

.domain__name {
  color: #000000;
  padding: 6px 10px;
  color: #CBCBCB;
  font-size: 15px;
  width: 77px;
  border: none;
  border-left: 1px solid #D9D9D9;
}

.domain-price {
  color: #CBCBCB;
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  display: block;
  border: 1px solid #D9D9D9;
  margin: 0 auto;
  width: 888px;
  height: 173px;
}

.domain-table .table-row td.top::after {
  content: "";
  display: block;
  right: -6px;
  bottom: -6px;
  width: 12px;
  z-index: 1;
  border-radius: 100%;
  height: 12px;
  position: absolute;
  background-color: white;
}

.domain-table .table-row td.top:last-child:after {
  content: "";
  display: none;
}

.domain-table {
  position: relative;
  bottom: 10px;
  font-size: 14px;
  width: 856px;
  height: 170px;
  display: block;
}

.table-row {
  margin: 0 14px;
  display: flex;
}

.table-row td {
  position: relative;
  padding: 40px 40px;
  width: 14%;
  color: #CBCBCB;
}

.table-row td.top {
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

.table-row td.bottom {
  border-right: 1px solid #D9D9D9;
}

.table-row td.bottom:last-child,
.table-row td.top:last-child {
  border-right: none;
}

td.top:first-child {
  padding-top: 9px;
  padding-right: 55px;
}

td.top:last-child {
  padding-top: 9px;
  padding-left: 54px;
}

td.bottom:first-child {
  padding-right: 55px;
}

td.bottom:last-child {
  padding-top: 20px;
  padding-left: 54px;
}

td.bottom:nth-child(n) {
  padding-top: 19px;
  padding-bottom: 29px;
}

td.top.one {
  padding: 9px 56px 9px 56px;
}

td.bottom.one {
  padding: 19px 56px 19px 56px;
}

td.top.price {
  padding: 9px 56px 9px 56px;
}

td.bottom.price {
  padding: 18px 56px 19px 56px;
}

td.top::before,
td.bottom::before {
  content: '';
  display: block;
  width: 110px;
  height: 18px;
}


.registration {
  height: 125px;
  background-image: url("../img/registration/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 20px;
  font-family: Lato-Bold;
}

.packages {
  background-image: url("../img/pricelist/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.price-list {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.price-list {
  padding-bottom: 6%;
  border-bottom: 3.5px dotted rgb(215, 215, 215);
  column-gap: 4%;
}

/*Default font-family for whole item is Lato-Bold
*/
.package-item {
  background-color: white;
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(170, 169, 169, 0.3);
  min-width: 250px;
  min-height: 560px;
  font-family: 'Lato-Bold';
}

.package-item-gold {
  border-top: 0.35rem solid gold;
}

.package-item-grey {
  border-top: 0.35rem solid #7f8c8d;
}

.package-item-red {
  border-top: 0.35rem solid red;
}

.package-item-green {
  border-top: 0.35rem solid #1abc9c;
}

.package-item__icon img {
  max-width: 64px;
  max-height: 64px;
  margin-top: 10%;
}

.package-item__icon {
  width: 96px;
  height: 96px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.package-item__title {
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding-bottom: 7.5%;
}

.package-item__text {
  display: flex;
  column-gap: 22px;
  max-width: 220px;
  width: fit-content;
  margin: auto;
}

.package-item__features {
  border-top: 1px solid grey;
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
}

.package-item__features :first-child {
  padding-right: 1em;
  text-align: left;
}

.package-item__features :last-child {
  padding-left: 1em;
  text-align: right;
}

.package-item__features td {
  padding-top: 1em;
}

.package-item__feature-names {
  color: grey;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Lato-Light';
}

.package-item__feature-values {
  text-align: right;
  margin-top: 16px;
  font-family: 'Lato-SemiBold';
}

.feature-values-gold {
  color: gold;
}

.feature-values-grey {
  color: #7f8c8d;
}

.feature-values-red {
  color: red;
}

.feature-values-green {
  color: #1abc9c;
}

.package-item__price {
  padding-top: 11.5%;
  padding-bottom: 2%;
  text-align: center;
  color: black;
  margin: auto;
  font-size: xx-large;
}

.package-item__price::before {
  content: "$";
  vertical-align: super;
  font-weight: bold;
  font-size: large;
  font-family: 'Lato-Heavy';
}

.package-item__price::after {
  content: "/Mo";
  color: grey;
  font-size: medium;
  font-weight: 300;
  font-family: 'Lato-Regular';

}

.package-item__select-button {
  padding-top: 8%;
  border-top: 0.3rem solid;
  width: fit-content;
  margin: auto;
}

.select-button-gold {
  border-color: gold;
}

.select-button-grey {
  border-color: #7f8c8d;
}

.select-button-red {
  border-color: red;
}

.select-button-green {
  border-color: #1abc9c;
}

.package-item__select-button a {
  font-size: large;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}

.about {
  padding-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  font-family: 'Lato-Regular';
}

.about-text {
  max-width: 35%;
  border-right: 3.5px dotted rgb(215, 215, 215);
  padding-right: 7.5%;
}

.about-text__title::after {
  content: " Us";
  color: black;
  text-align: left;
  font-weight: 100;
  font-family: 'Lato-Regular';
}

.about-text__title {
  color: black;
  font-size: xx-large;
  text-align: left;
  padding-bottom: 6%;
  font-family: 'Lato-Black';
}

.about-text__info {
  padding-right: 8%;
  color: grey;
  text-align: justify;
  line-height: 1.7em;
  font-weight: 900;
  font-family: 'Lato-Thin';
}

.about-cards {
  width: 55%;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.about-card__name {
  color: black;
  font-size: large;
}

.about-card__position {
  color: grey;
  font-size: medium;
}

.about-card__icon {
  max-width: 96px;
  max-height: 96px;
}

.about-card__links {
  display: flex;
  gap: 20px
}

.link:hover {
  filter: invert(10%);
}

.link {
  max-width: 16px;
  max-height: 16px;
  filter: invert(80%);
}

.review {
  margin-top: 160px;
  background-image: url("../img/review/background.png");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: top;
  height: 250px;
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;

}

.review-info {

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center;
  transform: scale(1);
  scroll-snap-align: center;
  color: black;
  font-family: 'Lato-Light';
  font-size: 20px;
}

.review-quote {
  margin-top: 50px;
  text-align: center;
  color: white;
  line-height: 1.5em;
  width: 890px;
  height: 20%;
}

.review-label {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-author {
  color: white;
  font-family: 'Lato-Bold';
}

.review-author::after {
  content: "";
  padding-right: 10px;
  border-right: 1.3px solid white;
  display: inline-block;
  height: 15px;
}

.slider-group {
  margin-left: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  display: flex;
  column-gap: 10px;
}

.slider__dot[isActive="true"] {
  background-color: white;
}

.slider__dot {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 2px solid white;
}

.functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 345px;
  margin: 0 auto;
  max-width: 1600px
}

.functions-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.icon-flash {
  color: #fff;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 15px;
  height: 60px;
  width: 60px;
  font-size: 26px;
}

.icon-yellow {
  background-color: #F1C40F;
}

.icon-yellow:hover {
  cursor: pointer;
  background-color: #cea811;
}

.icon-blue {
  background-color: #10AFF1;
}

.icon-blue:hover {
  cursor: pointer;
  background-color: #0f94c7;
}

.icon-grey {
  background-color: #95A5A5;
}

.icon-grey:hover {
  cursor: pointer;
  background-color: #707d7d;
}

.icon-red {
  background-color: #F1540F;
}

.icon-red:hover {
  cursor: pointer;
  background-color: #c1410d;
}

.functions-card__header {
  color: #000000;
  font-family: Lato, sans-serif;
  font-style: heavy;
  font-size: 18pt;
}

.functions-card__description {
  color: #7e7e7e;
  font-family: Lato, sans-serif;
  font-style: regular;
  font-size: 16pt;
  text-align: center;
  margin: 15px 0px;
}

/*# sourceMappingURL=main.css.map */


.footer {
  color: #666666;
  list-style-type: none;
  background-color: #2A2A2A;
  height: 300px;
  background-color: #2a2a2a;
  font-family: Lato, sans-serif;
}

.footer-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  border-bottom: 1px solid #4a4a4a;
}

.footer-navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 45px;
}

.footer-navbar__item {
  color: #808080;
}

.footer-navbar__item:hover {
  color: #eaeaea;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 215px;
  color: #656565;
}

.footer-list__item {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;

}

.footer-list__item a {
  color: #808080;
}

.footer-list__text {
  max-width: 275px;
  color: #808080;
}

.footer-list__author {
  padding-top: 25px;
  color: #808080;
}

.footer-list__links {
  display: flex;
  flex-direction: row;
  padding: 3px 65px;

  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

.footer-list__links ul {
  font-size: 14px;
  line-height: 1.35;
  width: 50%;
  margin-right: 20px;
  list-style-type: none;
}

.footer-list__links li {
  padding: 5px 0 5px 5px;
}

.footer-list__links li:hover {
  color: #FFFFFF;
}

.footer-list__links a {
  text-decoration: none;
  margin-left: 8px;
  color: #666666;
}

.footer-list__links a:hover {
  color: #FFFFFF;
  margin-left: 14px;
  transition: .3s margin-left;
}

.footer-list__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.footer-list-links__link {
  color: #808080;
}

.footer-contact {
  margin-bottom: 5px;
  padding: 20px 0;
  display: flex;
  line-height: 2.2;
  font-size: 20px;
}

.footer-contact ul {
  font-size: 14px;
  margin-left: 20px;
  list-style-type: none;
}

.contact-icon {
  margin-right: 10px;
}


.footer-contact ul li a {
  text-decoration: none;
  color: #666666;
}

.footer-contact ul li a:hover {
  color: #FFFFFF;
  transition: .3s all;
}